#contenedorAcciones{
                    clear:both;
                    overflow: hidden;
                    height: 1%;
                    font-family: times new roman !important;
                }
                #contenedorAcciones form div{
    cursor: pointer;
}
#contenedorAcciones form div:hover{
    cursor: pointer;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
    padding: 4%;
}
#contenedorAcciones form div:hover p{
    padding-bottom: 2%;
}
#contenedorAcciones form{
    float: left;

    margin-left: 12%;
    margin-bottom: 5%;
    width: 15%;
}
#contenedorAcciones form div img{
    width: 100%;

margin-bottom: 10%;

    float: left;
}
#estadisticas div{
    padding-right: 1%;
    padding-left: 1%;
}
#contenedorAcciones form div p{
    text-align: center;
    font-size: 20px;
}