@media only screen 
	and (max-device-width:1210px){
body{
    background-color: #e1e1e1;
    margin:0;
}
#contenedorCompraTelefono{
    width: 50%;
    margin-left: 5%;
    float: left;
}
#contenedorCompraTelefono form{
    padding: 2%;
    overflow: hidden;
    background: white;
    height: 1%;
}
#contenedorCompraTelefono form p:nth-child(2n+1){
    font-size: 20px;

    font-weight: bold;


    width: 30%;

    float: left;
    margin-bottom: 1%;
    clear: both;
}
#contenedorCompraTelefono form p:nth-child(2n){
    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 5.9%;

    width: 70%;

    float: left;

}

#ocasion{
    font-size: 20px !important;

    font-weight: bold !important;


    width: 30% !important;

    float: left !important;
    margin-bottom: 1% !important;
    clear: both !important;
}
#ocasion2{
    font-size: 18px !important;
    margin-bottom: 1% !important;
    margin-top: 3.9% !important;

    width: 70% !important;

    float: left !important;
    font-weight: normal !important;
    clear: none !important;

}
#cantidad{
    margin-top: 4.5%;

}
#contenedorInformacion{
    width: 86%;

    margin: 0 auto;
    border:1px solid #090909;
    margin-top: 5%;
    clear: both;
    background: white;
    overflow: hidden;
    height: 1%;
    margin-bottom: 2%;
}
 #contenedorCompraTelefono form input[type="submit"]{
                       background: #ed2727;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 3%;
    margin-top: 5%;
    padding: 1%;
    float:left;
                }
                #contenedorCompraTelefono form input[type="submit"]:hover{
                          background: #ff5959; 
   color: white;
   cursor:pointer;
                }
#datosInformativos div{
    margin-left: 2%;
}
#contenedorInformacion h1{
    border-bottom: 1px solid black;
    padding: 1%;
}
.ui-inputfield{
    padding: 1px;
    padding-right: 20px;
    width: 60px;
}


#contenedorArriba{
    width: 90%;

    margin: 0 auto;

    background: white;
    overflow: hidden;
    clear: both;
    height: 1%;
    border:1px solid #090909;
}

#contenedorFoto{
    width: 40%;
    float:left;
    margin-top: 5%;
}
#contenedorFoto img{
    width: 100%;
}

#rotura{
    margin-top: 3.5%;
}

#contenedorCompraTelefono form input[type="submit"]{
    margin-top: 7%;

    float: left;

    clear: both;
}
#estado{
    padding-top: 2.6%;
}

#actualizarBotonCompra2 p{
    font-size: 16px !important;
    font-weight: normal !important;
    width: 100% !important;
    float: left !important;
    margin-bottom: 1% !important;
    clear: both !important;
}}
