<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="CRVPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>DTO.Reparacionestelefono</class>
    <class>DTO.Poblacion</class>
    <class>DTO.Provincia</class>
    <class>DTO.Reparaciones</class>
    <class>DTO.Tarjeta</class>
    <class>DTO.Administrador</class>
    <class>DTO.Direccion</class>
    <class>DTO.Usuario</class>
    <class>DTO.Tecnico</class>
    <class>DTO.Foto</class>
    <class>DTO.Telefono</class>
    <class>DTO.Canjear</class>
    <class>DTO.Caracteristicastelefono</class>
    <class>DTO.Pedido</class>
    <class>DTO.Premio</class>
    <class>DTO.Premiosinfoto</class>
    <class>DTO.Premioconfoto</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/crv?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
